<footer>
    
    <div class="footer-section">
      <h3><a href="https://skribbl.io/" target="_blank">Recipy</a></h3>
    </div>
  
    
    <div class="footer-section">
      <h4>SEGUICI SU</h4>
      <ul>
        <li><a href="https://www.instagram.com/rid.hers?igsh=MXF0YzAxaThycjNueg==" target="_blank">Ridhers</a></li>
        <li><a href="https://www.instagram.com/kobo.yakiniku.restaurant?igsh=MWYyMG1hdGdmYW9qYw==" target="_blank">Yakiniku</a></li>
        <li><a href="https://www.instagram.com/beatquestevent?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">BeatQuest</a></li>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank">YouTube</a></li>
      </ul>
    </div>
  
    
    <div class="footer-section">
      <h4>INFO</h4>
      <ul>
        <li><a routerLink="/chi-siamo">Chi siamo</a></li>
        <li><a routerLink="/login" class="signin">Accedi</a></li>
        <li><a routerLink="/register" class="signup">Registrati</a></li>
      </ul>
    </div>
  
    
    <div class="footer-section">
      <h4>SCARICA L'APP</h4>
      <ul>
        <li><a href="https://chatgpt.com" target="_blank">Scarica su App Store</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.openai.chatgpt&hl=it" target="_blank">Disponibile su Google Play</a></li>
      </ul>
    </div>
  
    
    <div class="footer-section">
      <h4>Iscriviti alla Newsletter</h4>
      <form action="#">
        <input type="email" placeholder="Inserisci la tua email">
        <button type="submit">Iscriviti</button>
      </form>
    </div>
  
    
    <div class="copyright">
      <p>© 2025 Recipy  S.p.A. | Tutti i diritti riservati | Pam De Pippis</p>
    </div>
  </footer>