<footer>
    
    <div class="footer-section">
      <h3><a href="https://skribbl.io/">Recipy</a></h3>
    </div>
  
    
    <div class="footer-section">
      <h4>SEGUICI</h4>
      <ul>
        <li><a href="#facebook">Facebook</a></li>
        <li><a href="#instagram">Instagram</a></li>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">YouTube</a></li>
      </ul>
    </div>
  
    
    <div class="footer-section">
      <h4>INFO</h4>
      <ul>
        <li><a href="https://skribbl.io/">Chi siamo</a></li>
        <li><a routerLink="/login" class="signin">Accedi</a></li>
        <li><a routerLink="/register" class="signup">Registrati</a></li>
      </ul>
    </div>
  
    
    <div class="footer-section">
      <h4>SCARICA L'APP</h4>
      <ul>
        <li><a href="https://chatgpt.com">Scarica su App Store</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.openai.chatgpt&hl=it">Disponibile su Google Play</a></li>
      </ul>
    </div>
  
    
    <div class="footer-section">
      <h4>Iscriviti alla Newsletter</h4>
      <form action="#">
        <input type="email" placeholder="Inserisci la tua email">
        <button type="submit">Iscriviti</button>
      </form>
    </div>
  
    
    <div class="copyright">
      <p>© 2025 Recipy  S.p.A. | Tutti i diritti riservati | Pam De Pippis</p>
    </div>
  </footer>
  