:host {
    display: block;
    background-color: #eaf4ea; /* Colore di sfondo */
    min-height: 100vh; /* Copre tutta l'altezza della finestra */
    padding: 20px; /* Spaziatura interna */
    box-sizing: border-box; /* Assicura che padding e bordi siano inclusi nella dimensione */
  }