<div class="cards-container">
    <div class="card">
        <h2>Ale Pulli</h2>
        <div class="card-paragraphs">
            <p><span>Skribbl lvl: </span> 0.5</p>
            <p><span>Ammonizioni: </span> 76</p>
            <p><span>Caratteristiche speciali: </span> odia la home</p>
            <button (click)="playAlessiaAudio()">click me!</button>
        </div>
        <img src="/alePulli.jpg" alt="">
    </div>
    <div class="card">
        <h2>Matteo Footer</h2>
        <div class="card-paragraphs">
            <p><span>Skribbl lvl: </span> 9.5</p>
            <p><span>Ammonizioni: </span> 7</p>
            <p><span>Caratteristiche speciali: </span> monitor 182 pollici</p>
            <button (click)="playMatteoAudio()">click me!</button>
        </div>
        <img src="matteoFratto.jpg" alt="">
    </div>
    <div class="card">
        <h2>Mirkommit&Push</h2>
        <div class="card-paragraphs">
            <p><span>Skribbl lvl: </span> 0.7</p>
            <p><span>Ammonizioni: </span> 16</p>
            <p><span>Caratteristiche speciali: </span> ha un setter irlandese</p>
            <button (click)="playMirkoAudio()">click me!</button>
        </div>
        <img src="/mirkoCommit&Push.jpg" alt="">
    </div>
    <div class="card">
        <h2>Pam Depippis</h2>
        <div class="card-paragraphs">
            <p><span>Skribbl lvl: </span> 5</p>
            <p><span>Ammonizioni: </span> 2</p>
            <p><span>Caratteristiche speciali: </span> ha già finito</p>
            <button (click)="playPamelaAudio()">click me!</button>
        </div>
        <img src="/pamDeppipis.jpg" alt="">
    </div>
    <div class="card">
        <h2>Pietro Rollyback</h2>
        <div class="card-paragraphs">
            <p><span>Skribbl lvl: </span> 3.5</p>
            <p><span>Ammonizioni: </span> 16</p>
            <p><span>Caratteristiche speciali: </span> è il prefetto</p>
            <button (click)="playPietroAudio()">click me!</button>
        </div>
        <img src="/pietroRollyBack.jpg" alt="">
    </div>
    <div class="card">
        <h2>Salvo Imprevisti</h2>
        <div class="card-paragraphs">
            <p><span>Skribbl lvl: </span> ?</p>
            <p><span>Ammonizioni: </span> 5</p>
            <p><span>Caratteristiche speciali: </span> calabrese</p>
            <button (click)="playSalvatoreAudio()">click me!</button>
        </div>
        <img src="/salvoImprevisti.jpg" alt="">
    </div>
    <div class="card">
        <h2>Samuel Merge Jackson</h2>
        <div class="card-paragraphs">
            <p><span>Skribbl lvl: </span> 6</p>
            <p><span>Ammonizioni: </span> 12</p>
            <p><span>Caratteristiche speciali: </span> master merger</p>
            <button (click)="playSamueleAudio()">click me!</button>
        </div>
        <img src="/samuelMergeJackson.jpeg" alt="">
    </div>
</div>
<h2></h2>
<h2 class="cards-container">Menzioni d'onore:</h2>
<h2></h2>
<div class="cards-container">
    <div class="card">
        <h2>ChatGpt</h2>
        <div class="card-paragraphs">
            <p><span>Skribbl lvl: </span> ∞</p>
            <p><span>Ammonizioni: </span> 30</p>
            <p><span>Caratteristiche speciali: </span> il sommo</p>
            <button (click)="playChatAudio()">click me!</button>
        </div>
        <img src="/chatGpt.png" alt="">
    </div>
    <div class="card">
        <h2>Riccardo Aduano</h2>
        <div class="card-paragraphs">
            <p><span>Skribbl lvl: </span> 10</p>
            <p><span>Ammonizioni: </span> 0</p>
            <p><span>Caratteristiche speciali: </span> ricominsemo</p>
            <button (click)="playRiccardoAudiano()">click me!</button>
        </div>
        <img src="/riccardoAduano.jpg" alt="">
    </div>
    <div class="card">
        <h2>Skribbl</h2>
        <div class="card-paragraphs">
            <p><span>Skribbl lvl: </span> ?</p>
            <p><span>Ammonizioni: </span> -</p>
            <p><span>Caratteristiche speciali: </span> skribbolino?</p>
            <button (click)="playSkribblAudio()">click me!</button>
        </div>
        <img src="/skribbl.png" alt="">
    </div>
    
</div>