<button (click)="goToCreateRecipe()">Crea una nuova Ricetta</button>
<ul>
  <li *ngFor="let recipe of recipes; let i = index">
    <div class="recipe-card">
      <!--  -->
      <img [src]="recipe.imgUrl" alt="{{ recipe.title }}" />
      <div class="recipe-info">
        <h3>{{ recipe.title }}</h3>
        <p>{{ recipe.description }}</p>
      </div>
      <div class="recipe-actions">
        <button (click)="deleteRecipe(recipe.id)">Elimina</button>
        <button (click)="goToEditRecipe(recipe.id)">Modifica</button>
      </div>
      
    </div>
  </li>
</ul>