/* Stili per la lista delle ricette */
.recipes-container {
  padding: 30px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.recipes-container .create-recipe-btn {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  background-color: #7ac142;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.recipes-container .create-recipe-btn:hover {
  background-color: #5e9d34;
}

.recipes-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.recipe-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.recipe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.recipe-info h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #7ac142;
}

.recipe-info p {
  font-size: 14px;
  color: #666;
}

.recipe-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.recipe-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.recipe-actions .delete-btn {
  background-color: #e74c3c;
}

.recipe-actions .delete-btn:hover {
  background-color: #c0392b;
}

.recipe-actions .edit-btn {
  background-color: #f39c12;
}

.recipe-actions .edit-btn:hover {
  background-color: #d68910;
}

.recipe-actions .details-btn {
  background-color: #7ac142;
}

.recipe-actions .details-btn:hover {
  background-color: #5e9d34;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #7ac142;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #5e9d34;
}

.pagination span {
  font-size: 16px;
  color: #666;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}