<div class="login-container">
    <div class="login-image">
        <img src="random2.jpg" alt="Immagine di Login">
    </div>
    <div class="login-form">
        <div class="login-form2">
            <h2>Accedi</h2>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" placeholder="Inserisci la tua email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" formControlName="password" placeholder="Inserisci la tua password">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
            <div class="register-link">
                <p>Non sei ancora registrato? <a routerLink="/register" class="signup">Registrati qui</a></p>
            </div>
        </div>
    </div>
</div>