<a routerLink="/user-recipes">Gestisci le tue ricette</a>
<div>
    <form (ngSubmit) = "onSubmit()" [formGroup]="profileForm">
        <div class="form-group">

        <label for="dietType">Immagine del profilo</label>
        <input type="text" formControlName="imgUrl" id="imgUrl">

        <label for="pal">Livello di attività fisica</label>
        <select formControlName="pal" id="pal">
            <option value="default"></option>
            <option value="sedentario">Sedentario</option>
            <option value="leggero">Leggero</option>
            <option value="moderato">Moderato</option>
            <option value="intenso">Intenso</option>
        </select>

        <label for="weight">Peso</label>
        <input type="number" formControlName="weight" id="weight">

        <label for="height">Altezza</label>
        <input type="number" formControlName="height" id="height">

        <label for="bfp">Percentuale grasso corporeo</label>
        <input type="number" formControlName="bfp" id="bfp">

        <label for="lbmp">Metabolismo basale</label>
        <input type="number" formControlName="lbmp" id="lbmp">

        <label for="sex">Sesso</label>
        <select formControlName="sex" id="sex">
            <option value="A"></option>
            <option value="F">Femmina</option>
            <option value="M">Maschio</option>
            <option value="A">Altro</option>
        </select>

        <label for="eatingRegimeId">Regime alimentare</label>
        <select formControlName="eatingRegimeId" id="eatingRegimeId">
            <option value="altro"></option>
            <option value="vegano">Vegano</option>
            <option value="vegetariano">Vegetariano</option>
            <option value="pescatariano">Pescatariano</option>
            <option value="carnivoro">Carnivoro</option>
            <option value="onnivoro">Onnivoro</option>
            <option value="fruttariano">Fruttariano</option>
            <option value="altro">Altro</option>
        </select>
        </div>
       <button>Salva</button>
    </form>
</div>