body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  div {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;
    flex-direction: column;

  }
  
  a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
  }
  
  input:focus,
  select:focus {
    outline: none;
    border-color: #007bff;
    background-color: #ffffff;
  }
  
  button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Stile per il gruppo di form */
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .image{
    box-shadow: none;
  }  

  .profile-image {
    width: 200px;       
    height: 200px;      
    object-fit: cover; 
    border-radius: 50%; 
    object-position: center; 
    border: 2px solid #ccc; 
  }

  .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
    box-shadow: none;
  }
  