<div class="navbar">
  <div class="logo"><a routerLink="/home">RECIPY <span class="span">|</span></a>
    <ul class="nav-links">
      <li><a routerLink="/search-recipe">Lista Ricette</a></li>
      <li><a routerLink="/ingredient-list">Lista degli ingredienti</a></li>
    </ul>
  </div>

  <div class="search-bar">
    <input [(ngModel)]="searchRecipe" placeholder="Cerca ricette" (keyup.enter)="searchRecipes()" />
    <button (click)="searchRecipes()">Cerca</button>
  </div>

  <div>
    <ul class="nav-links">
      @if(isAuthenticated){
        <li><a routerLink="/user-recipes">Tue Ricette</a></li>
        <li><a routerLink="/user-pantries">Tuoi Ingredienti</a></li>
        <li><a routerLink="/shopping-list">Lista della Spesa</a></li>
      }
    </ul>
  </div>

  <div class="auth-buttons">
    <ng-container *ngIf="!isAuthenticated; else userPage">
      <a routerLink="/login" class="signin">Login</a>
      <a routerLink="/register" class="signup">Sign up</a>
    </ng-container>

    <!-- utente on mostra queste cose -->
    <ng-template #userPage>
      <a routerLink="/profile" class="user-page">Vai al tuo profilo</a>
      <button (click)="logout()">Logout</button>
    </ng-template>
  </div>
</div>

<router-outlet />