<div class="navbar">
  <div class="logo">RECIPY |
  <ul class="nav-links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/search-recipe">Lista Ricette</a></li>
  </ul>
</div>

  <!-- Barra di ricerca -->
  <div class="search-bar">
    <input type="text" placeholder="Cerca ricette" />
    <button type="submit">></button>
  </div>

  <!-- Se l'utente è autenticato, mostra "Vai alla tua pagina", altrimenti mostra "Login" e "Sign Up" -->
  <div class="auth-buttons">
    <ng-container *ngIf="!isAuthenticated; else userPage">
      <a routerLink="/login" class="signin">Login</a>
      <a routerLink="/register" class="signup">Sign up</a>
    </ng-container>

    <!-- Se l'utente è autenticato, mostra il link per la pagina dell'utente -->
    <ng-template #userPage>
      <a routerLink="/profile" class="user-page">Vai al tuo profilo</a>
      <button (click)="logout()">Logout</button>
    </ng-template>
  </div>
</div>

<app-home></app-home>

<router-outlet />