.creates-recipe-btn {
    display: none;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    background-color: #7ac142;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }