<div *ngIf="loading" class="loading">
    <img src="/loading.gif" alt="">
</div>
<div *ngIf="!loading">

    <div class="recipe-list-container">
        <!-- Titolo della sezione -->
        <h1>Lista delle Ricette</h1>

        <!-- Lista delle ricette -->
        <div *ngIf="recipes && recipes.length > 0" class="recipe-card">
            <div *ngFor="let recipe of recipes; let i = index" class="card" (click)="navigate(recipe.id)">
                <h2>{{recipe.title}}</h2>
                <div class="card-paragraphs">
                    <p><span>Portata: </span> {{recipe.course}}</p>
                    <p><span>Difficoltà: </span> {{recipe.difficulty}}</p>
                    <p><span>Kcal: </span> {{recipe.kCalories}}</p>
                </div>
                <img [src]="recipe.imgUrl" alt="">
                <p>{{recipe.tags}}</p>
            </div>
        </div>

        <div *ngIf="showNoRecipesMessage">
            <!-- Messaggio se non ci sono ricette -->
            <p>Non ci sono ricette disponibili.</p>
        </div>

        <!-- Lista della spesa -->
        <div *ngIf="shoppingList.length > 0" class="shopping-list">
            <h3>Lista della Spesa</h3>
            <ul>
                <li *ngFor="let item of shoppingList">
                    {{ item.name }} ({{ item.avgWeight }} g)
                </li>
            </ul>
            <button (click)="markShoppingListAsCompleted()">Lista Completata</button>
        </div>

        <!-- Paginazione -->
        <div class="pagination">
            <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
                Precedente
            </button>

            <span>Pagina {{ currentPage }} di {{ totalPages() }}</span>

            <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages()">
                Successiva
            </button>
        </div>
    </div>

</div>