<div *ngFor="let recipe of recipes">
    <h3>{{ recipe.title }}</h3>
    <button (click)="fetchMissingIngredients(recipe.id)">Aggiungi gli ingredienti mancanti</button>
  
    <div *ngIf="loading">
      <p>Carico gli ingredienti mancanti...</p>
    </div>
  
    <div *ngIf="!loading && missingIngredients.length > 0">
      <h4>Ingredienti mancanti:</h4>
      <ul>
        <li *ngFor="let ingredient of missingIngredients">
          {{ ingredient.name }} ({{ ingredient.weight }} g)
        </li>
      </ul>
      <button (click)="addToShoppingList(recipe.id)">Aggiungi alla lista della spesa</button>
    </div>
  
    <div *ngIf="!loading && missingIngredients.length === 0">
      <p>Tutti gli ingredienti sono disponibili!</p>
    </div>
  </div>
  
  <div *ngIf="shoppingList.length > 0">
    <h3>Lista della spesa:</h3>
    <ul>
      <li *ngFor="let item of shoppingList">
        {{ item.name }} ({{ item.weight }} g)
      </li>
    </ul>
    <button (click)="markShoppingListAsCompleted()">Spesa completata!</button>
  </div>
  

