<button class="creates-recipe-btn" (click)="goToCreateReview()">Crea una nuova Recensione</button>

<h2>Lista delle Recensioni</h2>
<div class="reviews-list">
  <div *ngFor="let review of reviews" class="review-item">
    <p><strong>Data:</strong> {{ review.creationDate }}</p>
    <p><strong>Valutazione:</strong> {{ review.rating }}</p>
    <p><strong>Recensione:</strong> {{ review.text }}</p>
    <p><strong>Nome Utente:</strong> {{ review.userDto.firstname }} {{ review.userDto.lastname }}</p>

    <!-- Pulsante Modifica visibile solo per l'utente loggato -->
    <button *ngIf="review.userDto.id === currentUserId" (click)="onEditReview(review)">
      Modifica
    </button>
  </div>
</div>
