/* @font-face {
  font-family: "Caroni";
  src: url("assets/Caroni-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Caroni", serif;
} */

@font-face {
  font-family: "Pangolin";
  src: url("assets/Pangolin-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pangolin", serif;
}