/* Stili generali per la pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

div {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;
    flex-direction: column;
}

/* Stile per il gruppo di form */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Stili per l'immagine di profilo */
.image-preview {
    text-align: center; /* Centra l'immagine */
    margin-bottom: 20px; /* Aggiungi margine sotto l'immagine */
}

.profile-image {
    width: 150px; /* Impostato a 150px per una visualizzazione più piccola */
    height: 150px;
    object-fit: cover;
    border-radius: 50%; 
    object-position: center;
    border: 2px solid #ccc;
}

/* Stile per i bottoni */
button {
    padding: 10px 20px;
    background-color: #7ac142; /* Colore di sfondo per i bottoni */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #5a9a2a; /* Colore al passaggio del mouse */
}

/* Stile per il testo dell'ID utente */
.user-id-container {
    text-align: center;
    margin-top: 20px;
}

.user-id-text {
    font-size: 14px;
    color: #808080; /* Colore grigio per l'ID utente */
}

/* Stili per l'input e i select */
input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
}

input:focus, select:focus {
    outline: none;
    border-color: #007bff;
    background-color: #ffffff;
}
